#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    position: relative;
    margin: 80px auto;
    padding: 40px;
    max-width: 800px;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 20px;
    color: white;
}
.container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}
label {
    display: block;
}

input {
    min-width: 200px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
}
input:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.table-cont{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    table-layout: fixed;
}
td, th {
    width: 25%;
    text-align: center;
    white-space: nowrap;
}
button {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: darkgray;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: grey;
}

button:active {
    transform: scale(0.95);
}



